asgiref==3.10.0
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Django==5.2.7
h11==0.14.0
idna==3.10
iniconfig==2.1.0
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
outcome==1.3.0.post0
packaging==25.0
pillow==12.0.0
pluggy==1.5.0
ply==3.11
PySocks==1.7.1
pytest==8.3.5
pytest-order==1.3.0
referencing==0.35.1
requests==2.32.3
robotframework==7.1.1
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.6.1
rpds-py==0.22.3
selenium==4.32.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
