{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mt-5 text-center">
        <div class="card shadow-sm border-success">
            <div class="card-body">
                <h4 class="card-title text-success">Password Reset Complete</h4>
                <p>Your password has been set. You may now log in with your new password.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}